.quoted-tweets-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quoted-tweets-container > button {
  display: flex;
  cursor: pointer;
  align-items: center;
  color: #536471;
  background: transparent;
  border: none;
  border-radius: 50%;
  padding: 6px;
  min-height: 36px;
  min-width: 36px;
  transition: background-color 0.2s;
}

.quoted-tweets-container > button:hover {
  color: #1d9bf0;
  background-color: rgba(29, 155, 240, 0.1);
}
